<div class="height">
    <mat-toolbar class="toolbar">
        <!-- <mat-toolbar-row> -->
            <span class="toolbar" routerLink="/data">data</span>
            <span class="toolbar" routerLink="/analysis">analysis</span>
            <span class="toolbar" routerLink="/menitor">menitor</span>

            <!-- <mat-menu #menu="matMenu">
                <button mat-menu-item [routerLink]="['/EveningBakingReport']">דוח אפיה ערב</button>
                <button mat-menu-item [routerLink]="['/MorningBakeryReport']">דוח אפיה בוקר</button>
                <button mat-menu-item [routerLink]="['/ProductionReport']">דוח ייצור</button>
                <button mat-menu-item [routerLink]="['/PackingReport']">דוח אריזה</button>
            </mat-menu> -->
<!-- 
            <button mat-button [matMenuTriggerFor]="Managemenu">ניהול</button>
            <mat-menu #Managemenu="matMenu">
                <button mat-menu-item [routerLink]="['/Clients']">לקוחות</button>
                <button mat-menu-item [routerLink]="['/Products']">מוצרים</button>
                <button mat-menu-item [routerLink]="['/LoginManagemant']">הרשאות</button>
                <button mat-menu-item [routerLink]="['/Pastrys']">בצקים</button>
                <button mat-menu-item [routerLink]="['/Agents']">סוכנים</button>
            </mat-menu> -->
            <!-- <button mat-button [matMenuTriggerFor]="Activmenu">פעולות מיוחדות</button>
            <mat-menu #Activmenu="matMenu">
                <button mat-menu-item [routerLink]="['/Comax']">העברת תעודות משלוח לקומקס</button>
                <button mat-menu-item [routerLink]="['/RemoveOrder']">העברת תאריך תעודות משלוח </button>

            </mat-menu> -->
        <!-- </mat-toolbar-row> -->
    </mat-toolbar>

</div>
<!-- <router-outlet></router-outlet> -->