.Filter{
    position: absolute;
    margin-top: 100px;
    right: 550px;
    display: flex;
    flex-direction: row;
    padding:5px;
}
.SubjectChart{
    
    position: absolute;
    max-width: 50%;
    right: 20px;
    margin-top: 200px;
  
}
.SplineCart{
       
    position: absolute;
    max-width: 50%;
    left:  20px;
    margin-top: 200px;

}
.StudentChart{
    position: absolute;
    max-width: 50%;
    right: 350px;
    margin-top: 750px;

}
.subjectChip{
    /* padding: 5px; */
}