.Filter{
    position: absolute;
    margin-top: 100px;
}
.SubjectChart{
    
    position: absolute;
    max-width: 50%;
    right: 20px;
    margin-top: 200px;
  
}
.SplineCart{
       
    position: absolute;
    max-width: 50%;
    left:  20px;
    margin-top: 200px;

}